
header {
	width:100%;
	height: 100px;
	float:left;
	background-image: url("fondo.png");
   padding-bottom: 40px;
}

#subheader {
	width:1060px;
	margin:auto;
}

#logotipo {
    margin-top: 17px;
	float:left;
	width:100px;
	padding:10px 0px;

}

#logotipo p {
	font-family:sourcesans-light;
	font-size:30px;
	color:#fff;
}



header #subheader nav {
    margin-left: 200px;
	float:left;
	padding:30px 0px;
	
}

#subheader img{height: 80px;
 float: left;}

header #subheader nav ul li {
	display:inline;
	font-family:sourcesans;
	margin-left:15px;
}

header #subheader nav ul li a {
	text-decoration:none;
	color:#fff;
	font-size:18px;
	padding:10px;
	border-radius:2px;
		
}

header #subheader nav ul li a:hover {
	color:#fff;
	background:rgba(0,0,0,.8);
	text-decoration:none;
	border-radius: 10px;
}

h1{
	margin: 0;
}

footer{

	background-image: url("fondo.png");
	background-repeat: repeat-x;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin: 0;
}

main{
	text-align: center;
}

div{
	width: 50%;
	margin: auto;
}

#copa{
	padding-top: 5px;
}


*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/****************************CSS DEl slide*/
ul,ol{
	list-style: none;
}

/* AQUI PA ABAJO ESTA EL PROBLEMA DEL HOVER*/

.slideshow{

	width: 900px;
	position: relative;

}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	padding-top: 60px;
	width: 900px;
	height: 450px;
}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #000;
	z-index: 1;
}

.slider .caption h1{
	font-size: 50px;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
}

.pagination{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}


